@import "tailwindcss";

@theme {
  --color-brand: #2f80ed;
  --color-brand-light: #2d9cdb;
  --color-brand-dark: #1c60b9;

  --color-accent: #27ae60;
  --color-accent-light: #6fcf97;
  --color-accent-dark: #1e8749;

  --color-background-light: #f9fafb;
  --color-background-muted: #e5e7eb;
  --color-background-dark: #1f2937;
  --color-background-dark-muted: #374151;

  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;
  --color-text-inverted: #ffffff;

  --color-state-error: #eb5757;
  --color-state-error-light: #f8d4d4;
  --color-state-warning: #f2c94c;
}

/* "static" will convert the values to actual CSS variables */
@theme static {
  --breakpoint-xs: 460px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@layer utilities {
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(200%);
    }
  }

  .animate-shimmer {
    animation: shimmer 2s infinite;
  }

  @keyframes slide-in {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  .animate-slide-in {
    animation: slide-in 0.3s ease-in-out;
  }

  @keyframes sway {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(10px, 10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  .animate-sway {
    animation: sway 6s infinite;
  }

  @keyframes sway-inverted {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(10px, -10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  .animate-sway-inverted {
    animation: sway-inverted 6s infinite;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .animate-fade-in {
    animation: fade-in 0.2s ease-in-out;
  }

  @keyframes squeeze {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.75);
    }
    100% {
      transform: scale(1);
    }
  }

  .animate-squeeze {
    animation: squeeze 0.2s linear;
  }
}

.tiptap:first-child {
  margin-top: 0;
}

/* Table-specific styling */
.tiptap table {
  border-collapse: collapse;
  margin: 0;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}

.tiptap table td,
.tiptap table th {
  border: 1px solid #d1d5db;
  box-sizing: border-box;
  min-width: 1em;
  padding: 6px 8px;
  position: relative;
  vertical-align: top;
}

.tiptap table td > *,
.tiptap table th > * {
  margin-bottom: 0;
}

.tiptap table th {
  background-color: #f3f4f6;
  font-weight: bold;
  text-align: left;
}

.tiptap table .selectedCell:after {
  background: #e5e7eb;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

.tiptap table .column-resize-handle {
  background-color: #2f80ed;
  bottom: -2px;
  pointer-events: none;
  position: absolute;
  right: -2px;
  top: 0;
  width: 4px;
}

.tiptap .tableWrapper {
  margin: 1.5rem 0;
  overflow-x: auto;
}

.tiptap.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}

h1.Typewriter {
  height: 8rem;
}

.caret::after {
  content: "Marwan";
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  inset-inline-start: 0;
  padding: 0.25rem 0.5rem;
  color: white;
  background-color: var(--color-brand);
  border-radius: 10px;
}

body:has(.simple-editor-content) {
  overflow-x: hidden;
}

:is(
    main:has(.simple-editor-content)
      :where(
        button,
        div:not(.node-imageUpload),
        span,
        path,
        svg,
        a,
        ul[data-type="taskList"] li :where(label, span, span::before)
      ),
    html:has(.simple-editor-content)
  ) {
  cursor: none;
}

html:has(.simple-editor-content) header {
  cursor: auto;
}

div.node-imageUpload * {
  cursor: auto;
}

main:has(.simple-editor-content)
  :not(
    button,
    div,
    span,
    path,
    svg,
    a,
    ul[data-type="taskList"] li :where(label, span, span::before)
  ) {
  cursor: url("/textcursor.png") 16 16, text;
}
